@page "/{mailbox}"
@model IndexModel
@{
    // use compile time regex
    var regex = new System.Text.RegularExpressions.Regex(@"""(.+)"" <(.+)>");
}

@section Head {
}

<a class="logout--btn btn btn-primary mx-2 my-2 text-nowrap rounded-pill position-fixed" href="/logout" title="Log Out">
    <i class="bi bi-door-open fs-1_5rem"></i>
</a>

<partial name="Sidebar" model="Model.Listing" />

<div class="content">
    <section class="listing d-flex flex-column h-100">

        <partial name="SearchForm" model="Model" />

        <div class="list list-group h-100 overflow-y-scroll position-relative">
            @if (Model.Listing.Messages.Count == 0)
            {
                <div class="list-group-item  d-flex border-left-none">
                    <div colspan="7">No messages... yet!</div>
                </div>
            }
            @for (int msgId = 0; msgId < Model.Listing.Messages.Count; msgId++)
            {
                var message = Model.Listing.Messages[msgId];
                <div href="/View?msgId=@message.Id"
                    open-msg-view="@message.Id"
                    class='list-group-item list-group-item-action cursor-pointer border-left-none px-1 py-2 @(message.Read ? "" : "unread")'
                    msg-id="@message.Id">
                    <div class="row align-items-center g-0 px-2">
                        <div class="col-12 col-lg-2">
                            @foreach (var singleOrigin in message.From.Split(',', StringSplitOptions.RemoveEmptyEntries))
                            {
                                var result = regex.Matches(singleOrigin);
                                if (result.Count == 0)
                                {
                                    @message.From
                                }
                                else
                                {
                                    var name = result[0].Groups[1];
                                    var email = result[0].Groups[2]; ;
                                    <span href="/compose?to=@email" title="@email" class="me-2">@name</span>
                                }
                            }
                        </div>
                        <div class="col-12 col-lg-9 text-truncate">
                            <span class="">@message.Subject</span>
                        </div>
                        <div class="col-12 col-lg-1">

                            @if (DateTime.UtcNow - message.ReceivedOn < TimeSpan.FromHours(1))
                            {
                                <span title="@message.ReceivedOn.ToLocalTime()">
                                    @(Math.Round((DateTime.UtcNow - message.ReceivedOn).TotalMinutes))m ago
                                </span>
                            }
                            else if (DateTime.UtcNow - message.ReceivedOn <= TimeSpan.FromHours(48))
                            {
                                <span title="@message.ReceivedOn.ToLocalTime()">
                                    @(Math.Round((DateTime.UtcNow - message.ReceivedOn).TotalHours))h ago
                                </span>
                            }
                            else
                            {
                                <span title="@message.ReceivedOn.ToLocalTime()">@message.ReceivedOn.ToString("dd MMMM")</span>
                            }

                            @if (message.AttachementsCount > 0)
                            {
                                <span class=""><i class="bi bi-paperclip"></i>@message.AttachementsCount</span>
                            }

                        </div>
                    </div>
                </div>
            }
        </div>

    </section>

    <section id="msg" class="d-none">
        <div id="msg-view-container" class="position-relative d-none">

        </div>
    </section>

    <section id="new--message" class="d-none">
        <iframe id="new--message-frame" src="about:blank"></iframe>
    </section>
</div>

@section Scripts {
    <script src="~/js/index.js"></script>
}