@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<nav class="sidebar">
    <section>
        <div class="h2 my-2">websmtp</div>
    </section>
    <nav class="nav nav-pills d-flex flex-column">
        <li class="nav-item mb-2 d-flex">
            <a class="btn btn-primary d-inline-flex align-items-center rounded border-0 " style="flex: 1 1 auto;"
                href="/">
                <i class="bi bi-inboxes"></i>
                <span class="ms-2">All Mail</span>
            </a>
        </li>
        @foreach (var mailbox in Model.Mailboxes)
        {
            <li class="nav-item  d-flex flex-column">
                <button class="mb-2 btn btn-primary d-inline-flex align-items-center rounded border-0 collapsed"
                    data-bs-toggle="collapse" data-bs-target="#mailbox-@mailbox.Key" aria-expanded="true"
                    style="flex: 1 1 auto;">
                    <i class="bi bi-inbox"></i>
                    <span class="ms-2">@mailbox.Key</span>
                </button>
                <div class="collapse " id="mailbox-@mailbox.Key">
                    <ul class="btn-toggle-nav list-unstyled fw-normal small mb-0">
                        <li class="ms-16 d-flex" style="align-items: center;">
                            <i class="bi bi-arrow-return-right ms-1 me-2"></i>
                            <a class="mb-2 btn btn-primary d-inline-flex align-items-center rounded border-0 collapsed"
                                href="/?host=@mailbox.Key" style="flex: 1 1 auto;">
                                <i class="bi bi-people"></i>
                                <span class="ms-2">All Users</span>
                            </a>
                        </li>
                        @foreach (var recipient in mailbox.Value)
                        {
                            <li class="ms-16 d-flex" style="align-items: center;">
                                <i class="bi bi-arrow-return-right ms-1 me-2"></i>
                                <a class="mb-2 btn btn-primary d-inline-flex align-items-center rounded border-0 collapsed"
                                    href="/?user=@recipient&host=@mailbox.Key" style="flex: 1 1 auto;">
                                    <i class="bi bi-person"></i>
                                    <span class="ms-2">@recipient</span>
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </li>
        }
    </nav>
</nav>

<div data-bs-theme="dark" style="height:100%; flex: 1 1 auto; display: flex; flex-direction: column; ">

    <div class="input-group my-2">
        <span class="input-group-text" id="basic-addon1">Filter</span>
        <input type="text" class="form-control" placeholder="Any text value" aria-label="Any text value"
            aria-describedby="basic-addon1">
    </div>

    <section class="" style="
        height: 300px; 
        resize: vertical; 
        overflow-y: scroll;  
        border-left: 1pt solid var(--bs-border-color);
        border-top: 1pt solid var(--bs-border-color); 
        border-bottom: 1pt solid var(--bs-border-color); 
        border-top-left-radius: var(--bs-border-radius);
        position: relative;">
        <table class="table table-dark table-hover table-striped table-sm m-0"
            style="position: sticky; top: 0; z-index: 1; table-layout: fixed;">
            <thead>
                <tr>
                    <th style="width: 130px">
                        Received
                    </th>
                    <th style="width: calc((100% - 255px)+16%);">
                        Subject
                    </th>
                    <th style="width: calc((100% - 255px)+16%);">
                        From
                    </th>
                    <th style="width: calc((100% - 255px)+16%);">
                        To
                    </th>
                    <th style="width: 75px">Size</th>
                    <th style="width: 50px">
                        <i class="bi bi-paperclip"></i>
                    </th>
                </tr>
            </thead>
        </table>
        <div class="table-responsive" style="max-heigh: 30vh; ">
            <table class="table table-fixed table-dark table-hover table-striped table-sm m-0 align-middle"
                style="position: relative; table-layout: fixed;">
                @if (Model.Messages.Count == 0)
                {
                    <tr>
                        <th colspan="7">No messages... yet!</th>
                    </tr>
                }
                @for (int msgId = 0; msgId < Model.Messages.Count; msgId++)
                {
                    var message = Model.Messages[msgId];
                    <tr onclick="openwMsgView('@message.Id')" style="cursor: pointer;"
                        class="@(message.Read ? "" : "unread")" msg-id="@message.Id">
                        <td class="text-nowrap text-truncate" style="width: 130px;">
                            @if (message.ReceivedOn.Date == DateTime.UtcNow.Date)
                            {
                                <span>@message.ReceivedOn.ToString("HH:mm")</span>
                            }
                            else
                            {
                                <span title="@message.ReceivedOn.ToLocalTime()">@message.ReceivedOn.ToString("yyyy-MM-dd")</span>
                            }
                        </td>
                        <td class="text-nowrap text-truncate" style="width: calc((100% - 255px)+16%);">
                            <span>@message.Subject</span>
                        </td>
                        <td class="text-nowrap text-truncate" style="width: calc((100% - 255px)+16%);">
                            <span>@message.From</span>
                        </td>
                        <td class="text-nowrap text-truncate" style="width: calc((100% - 255px)+16%);">
                            <span>@message.To</span>
                        </td>
                        <td class="text-nowrap text-truncate" style="width: 75px;">
                            <span>@(Math.Round(decimal.Divide(message.Size, 1024m)))k</span>
                        </td>
                        <td class="text-nowrap text-truncate" style="width: 50px">
                            <span>@(message.Attachements.Count)</span>
                        </td>
                    </tr>
                }
            </table>
        </div>

    </section>

    <section id="msg"
        style=" flex: 1 1 auto; resize: vertical; overflow-y: auto; border-left: 1pt solid var(--bs-border-color);">
        <div id="msg-view-container" style="display: none;padding: 1em; padding-top: 0;">
            <iframe id="msg-view" name="msg-view" style="width: 100%; height: 100px;"
                src="data:text/html;base64,PGh0bWwgc3R5bGU9ImJhY2tncm91bmQ6IHJnYigzMywgMzcsIDQxKTsiPjwvaHRtbD4K"></iframe>
        </div>
    </section>
</div>

@section Scripts {
    <script>
        function openwMsgView(msgId) {
            let sectionEl = document.querySelector('#msg-view-container');
            sectionEl.style.display = 'block';
            let msgViewEl = document.getElementById('msg-view');
            msgViewEl.setAttribute('src', '/View?msgId=' + msgId);
            markMessageAsRead(msgId);
        }
        function closeMsgView() {
            let sectionEl = document.querySelector('#msg-view-container');
            sectionEl.style.display = 'none';
        }
        function handleMessage(event) {
            if (event.origin != window.location.origin) { return; }
            let height = event.data.split(':')[1];
            document.querySelector('#msg-view').style.height = height + 'px';
        }
        async function markMessageAsRead(msgId) {
            const response = await fetch(`/?markAsReadMsgId=${msgId}`);
            const result = await response.text();
            const success = result == "200";
            console.log(success);
            if (success) {
        @* const checkMarkEl = document.getElementById('msg-read-mark-' + msgId);
                checkMarkEl.innerHTML = '<i class="bi bi-bookmark-check"></i>'; *@
                        const selector = `tr[msg-id='${msgId}']`;
                console.log(selector);
                const checkMarkEl = document.querySelector(selector);
                checkMarkEl.classList.remove('unread');
            }
        }

        window.addEventListener('message', handleMessage, false);
    </script>
}