@page
@model MyApp.Namespace.NewMessageModel
@{
    Layout = "_LayoutEmpty";
}
@section Head {
    <link rel="stylesheet" href="~/css/view.css" />
    <link rel="stylesheet" href="~/lib/sweetalert2/sweetalert2.min.css" />
}
@if (Model.Sent.HasValue && Model.Sent == true)
{
    <div class="d-flex align-items-center justify-content-center w-100 h-100">
    <div class="card flex-1-1-auto new--message--dialog">
        <div class="card-body ">
            <div class="text-center my-2">Message sent.</div>
            <div class="text-center my-2">
                <button id="new--msg--close" class="btn btn-primary">Close</button>
            </div>
        </div>
    </div>
</div>
}
else if (Model.Sent.HasValue && Model.Sent == false)
{
    <div class="d-flex align-items-center justify-content-center  w-100 h-100">
    <div class="card flex-1-1-auto new--message--dialog">
        <div class="card-body ">
            <div class="text-center my-2">Error</div>
            <div class="text-center my-2">Trace Id: @Model.TraceId</div>
            @if (Model.ErrorMessage is not null)
                {
                    <div class="text-center my-2">Message: @Model.ErrorMessage</div>
                }
                <div class="text-center my-2">
                    <button id="new--msg--back" class="btn btn-primary">Back</button>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <form id="new--message-form"
    class="position-relative card card-outlined container-fluid text-white d-flex flex-column h-100" method="post"
    enctype="application/x-www-form-urlencoded">

    <div id="new--message-sending" class="card-body d-none d-flex align-items-center h-100">
        <strong role="status">Sending message...</strong>
        <div class="spinner-border ms-auto" aria-hidden="true"></div>
    </div>

    <div id="new--message-body" class="card-body d-flex flex-column h-100 pb-4">
        <div class="new--message-header-bg"></div>
        <span class="h5 card-title mb-3 position-relative z-55">

            <div class="row align-items-center justify-content-between position-relative">
                <div class="col col-auto">New Message</div>
                <div class="col col-auto position-absolute new-message-window-buttons">
                    <button  type="button" id="new--message-expand-btn" class="btn btn-transparent ">
                        <i class="bi bi-arrows-angle-expand fw-bolder"></i>
                    </button>
                    <button type="button" id="new--message-close-btn" class="btn btn-transparent ">
                        <i class="bi bi-x-lg fw-bolder"></i>
                    </button>
                </div>
            </div>
        </span>

        <div class="row align-items-center mb-2 mt-3 gx-0">
            <div class="col col-auto new--message-label-min-width">
                From:
            </div>
            <div class="col">
                <input type="hidden" id="identityId" name="identityId" value="@Model.Identities[0].Id">
                <button id="btn--identity--dropdown"
                    class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    @Model.Identities[0].DisplayName &lt;@Model.Identities[0].Email&gt;
                </button>
                <ul class="dropdown-menu">
                    @foreach (var identity in Model.Identities)
                        {
                            <li>
                                <span class="dropdown-item identity--dropdown--value" identity-id="@identity.Id">
                                    @identity.DisplayName  &lt;@identity.Email&gt;
                                </span>
                            </li>
                        }
                    </ul>
                </div>
            </div>

            <div class="row align-items-center mb-2 mt-3 gx-0">
                <div class="col col-auto new--message-label-min-width">
                    To:
                </div>
                <div class="col">
                    <input id="to" name="to" type="text" class="form-control" placeholder="Destination(s)"
                        aria-label="Text input with dropdown button"
                        value="@Model.InitialTo">
                </div>
                <div class="col col-auto">

                    <button id="show--cc" class="btn btn-outline-neutral ms-2" type="button">
                        CC
                    </button>
                    <button id="show--bcc" class="btn btn-outline-neutral ms-2" type="button">
                        BCC
                    </button>
                </div>
            </div>

            <div id="cc-row" class="row align-items-center mb-2 mt-3 gx-0 d-none">
                <div class="col col-auto new--message-label-min-width">
                    Cc:
                </div>
                <div class="col">
                    <input id="cc" name="cc" type="text" class="form-control" placeholder="Carbon Copies)"
                        aria-label="Text input with dropdown button">
                </div>
            </div>

            <div id="bcc-row" class="row align-items-center mb-2 mt-3 gx-0 d-none">
                <div class="col col-auto new--message-label-min-width">
                    Bcc:
                </div>
                <div class="col">
                    <input id="bcc" name="bcc" type="text" class="form-control" placeholder="Blind carbon Copies)"
                        aria-label="Text input with dropdown button">
                </div>
            </div>

            <div id="subject-row" class="row align-items-center my-2 mb-3">
                <div class="col col-auto new--message-label-min-width">
                    Subject:
                </div>
                <div class="col">
                    <input id="subject" name="subject" class="form-control" />
                </div>
            </div>

            <textarea id="body" name="body" class="form-control my-2 flex-1-1-100p" rows="6"></textarea>
            @* <div id="body" name="body" class="text-white"></div> *@

            <div class="row align-items-center justify-content-between my-2 ">
                <div class="col">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="true" id="html" name="html">
                        <label class="form-check-label" for="html">
                            HTML Message
                        </label>
                    </div>
                </div>

                <div class="col col-auto d-flex align-items-center">
                    <button type="submit" class="btn btn-primary ">Send</button>
                </div>
            </div>
            <div>
                &nbsp;
            </div>
        </div>

    </form>
}
@section Scripts {
    <script src="~/lib/sweetalert2/sweetalert2.min.js" asp-append-version="true"></script>
    <link href="~/lib/quill.snow.css" rel="stylesheet" />
    <script src="~/lib/quill.js"> </script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"> </script>
    <script src="~/js/newmessage.js"> </script>
}