@model MailAddressListViewModel
<div id="@Model.ContainerId" 
    mail-address-list
    class="row align-items-center my-2 g-o position-relative @Model.ContainerClass">
    <div class="col col-auto new--message-label-min-width">
        @Model.Label:
    </div>
    <div class="col d-flex align-items-center justify-content-start flex-wrap">
        <span v-for="dest in destinations" :key="'@Html.Raw(@Model.ContainerId)'+dest.name"
            class="text-decoration-none badge rounded-pill text-bg-light fs-6 me-2" :title="dest.email"
            @@click="removeDest(dest)">{{dest.name}}</span>
        <button class="btn btn-outline-neutral" @@click="addDest" type="button">
            <i class="bi bi-plus"></i>
        </button>
        @if (Model.ShowCCandBCC)
        {
            <button id="show--cc" class="btn btn-outline-neutral ms-2" type="button" @@click="showCC">
                CC
            </button>
            <button id="show--bcc" class="btn btn-outline-neutral ms-2" type="button" @@click="showBCC">
                BCC
            </button>
        }
        <input ref="input" id="@Model.Id" name="@Model.Id" class="form-control invisible position-absolute"
            :value="concatenatedDestinations" @@change="valueChanged" />
    </div>
</div>