@model websmtp.services.ListResult
<nav class="sidebar border-right d-none d-xl-block">
    <a id="logo--link" href="/inbox" class="h2 py-2 d-flex align-items-center justify-content-center text-decoration-none">
        <span class="position-relative">
            web<span class="text-proton-pink">s</span>mtp
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-proton-pink fs-12px logo-alpha  ">
                pre-&alpha;lpha
            </span>
        </span>
    </a>
    <div class="pb-5">
        <button id="new--msg--btn" class="btn btn-lg btn-primary w-100">
            New Message
        </button>
    </div>
    <nav class="nav nav-pills d-flex flex-column ">
        <div class="nav-item mb-2 d-flex">
            <a class="btn btn-md d-flex align-items-center rounded border-0 btn-transparent-primary flex-1-1-auto"
                id="btn-mailbox-inbox" href="/inbox">
                <i class="bi bi-inbox"></i>
                <span class="ms-2 ">Inbox</span>
                <span class='badge ms-auto text-bg-@(Model.New > 0 ? "primary":"dark")'>@Model.New</span>
            </a>
        </div>
        <div class="nav-item mb-2 d-flex">
            <a class="btn btn-md d-flex align-items-center rounded border-0 btn-transparent-primary flex-1-1-auto"
                id="btn-mailbox-all" href="/all">
                <i class="bi bi-inboxes"></i>
                <span class="ms-2">All Mail</span>
                <span class='badge ms-auto text-bg-@(Model.AllHasNew ? "primary":"dark")'>@Model.Total</span>
            </a>
        </div>
        <div class="nav-item mb-2 d-flex">
            <a class="btn btn-md d-flex align-items-center rounded border-0 btn-transparent-primary flex-1-1-auto"
                id="btn-mailbox-fav" href="/favorites">
                <i class="bi bi-star"></i>
                <span class="ms-2">Favorites</span>
                <span class='badge ms-auto text-bg-dark'>@Model.Favs</span>
            </a>
        </div>
        <div class="nav-item mb-2 d-flex">
            <a class="btn btn-md d-flex align-items-center rounded border-0 btn-transparent-primary flex-1-1-auto"
                id="btn-mailbox-spam" href="/spam">
                <i class="bi bi-bell-slash-fill"></i>
                <span class="ms-2">Spam</span>
                <span id="sidebar--spam--count"
                    class='badge ms-auto text-bg-@(Model.SpamHasNew ? "primary":"dark")'>@Model.Spam</span>
            </a>
        </div>
        <div class="nav-item mb-2 d-flex">
            <a class="btn btn-md d-flex align-items-center rounded border-0 btn-transparent-primary flex-1-1-auto"
                id="btn-mailbox-sent" href="/sent">
                <i class="bi bi-envelope-fill"></i>
                <span class="ms-2">Sent</span>
            </a>
        </div>
        <div class="nav-item mb-2 d-flex">
            <a class="btn btn-md d-flex align-items-center rounded border-0 btn-transparent-primary flex-1-1-auto"
                id="btn-mailbox-trash" href="/trash">
                <i class="bi bi-trash"></i>
                <span class="ms-2">Trash</span>
                <span id="sidebar--trash--count"
                    class='badge ms-auto text-bg-@(Model.TrashHasNew ? "primary":"dark")'>@Model.Deleted</span>
            </a>
        </div>
        <div class="nav-item mb-2 d-flex">
            <a class="btn btn-md d-flex align-items-center rounded border-0 btn-transparent-primary flex-1-1-auto"
                id="btn-mailbox-settings" href="/settings">
                <i class="bi bi-gear"></i>
                <span class="ms-2">Settings</span>
            </a>
        </div>
    </nav>
</nav>
